@font-face {
    font-family: "Lutfey";
    src: url("./assets/font/lutfey-arabic-demo/LutfeyArabicDEMO-Regular.otf");
}

/* POPPINS MEDIUM */
@font-face {
    font-family: "Poppins";
    src: url("./assets/font/Poppins/Poppins-Medium.ttf");
    font-weight: 500;
}

/* POPPINS REGULAR */
@font-face {
    font-family: "Poppins";
    src: url("./assets/font/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
}

/* POPPINS EXTRABOLD */
@font-face {
    font-family: "Poppins";
    src: url("./assets/font/Poppins/Poppins-ExtraBold.ttf");
    font-weight: 800;
}

/* RUBIK BUBBLES */
@font-face {
    font-family: "Rubik Bubbles";
    src: url("./assets/font/RubikBubbles/RubikBubbles-Regular.ttf");
    font-weight: 400;
}

:root {
    --teal: #56adb0ff;
    --gold: #f3ba16ff;
    --gradient: linear-gradient(180deg,
            rgba(235, 237, 179, 0) 26.54%,
            #fff4d5 61.67%,
            #fff4d5 91.95%);
    --dark-teal: #527778c4;
    --blue: #59b7b9ff;
    --sand: #f9f1b2ff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.flex-wrapper {
    display: flex;
}

header {
    position: relative;
    width: 100%;
}

header .container {
    position: absolute;
    top: 4.25rem;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    width: min(88%, 80rem);
    padding-left: 2.25rem;
    padding-right: 10rem;
    padding-bottom: 0.5rem;
    border-radius: 50px;
    background: white;
    box-shadow: 0px 4px 41px 0px #00000040;
}

header div.flex-wrapper {
    justify-content: space-between;
}

header ul {
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

header img {
    display: block;
    width: 5rem;
    object-fit: contain;
}

header li {
    font-family: "Rubik Bubbles", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--teal);
}

header li a {
    color: inherit;
}

/* HERO SECTION */

.hero {
    position: relative;
    height: 85dvh;
    background: linear-gradient(to top, #f9f1b2ff, #f9f1b200 25%);
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(135deg, var(--blue), var(--sand));
    opacity: 0.5;
    height: 85dvh;
}

.hero h1 {
    box-sizing: content-box;
    width: 76%;
    font-family: "Lutfey";
    font-weight: 400;
    font-size: 5rem;
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 16rem;
    opacity: 0.9;
}

.hero video {
    position: absolute;
    inset: 0;
    z-index: -1;
    height: 85dvh;
    width: 100vw;
    object-fit: fill;
    opacity: 0.56;
}

.video-container::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}

.hero h3 {
    font-family: Poppins;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 1.68rem;
    line-height: 35px;
    letter-spacing: -2%;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 4.5rem;
}

.hero p {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 1.5rem;
    line-height: 35px;
    letter-spacing: -2%;
    text-align: center;
    width: min(45ch, 33.62rem);
    color: white;
    text-shadow: 0px 3px 7.1px rgba(98, 89, 64, 0.6);
    margin: auto;
}

.hero .flex-wrapper {
    justify-content: center;
    gap: 1.625rem;
}

.hero a {
    position: relative;
    box-sizing: content-box;
    display: block;
    width: 12.6875rem;
    height: 3.25rem;
    color: white;
    font-family: Poppins;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero a::before {
    position: absolute;
    content: "";
    inset: 0;
    z-index: -1;

    border-radius: 125px;
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(20px);
}

.hero a::after {
    position: absolute;
    content: "";
    inset: 0;
    z-index: -1;

    border: 2px solid transparent;
    border-radius: 125px;
    background-origin: border-box;
    mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

.border-linear::after {
    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0.2),
            rgba(102, 102, 102, 0.2));
}

.border-gray::after {
    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.19));
}

.btn-container {
    padding-top: 1.2rem;
}
